@typeparam TItem

<table class="table table-striped">
    <thead>
        <tr>
            @Header
        </tr>
    </thead>

    <tbody>
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <tr>
                    @RowTemplate(item)
                </tr>
            }
        }
    </tbody>
</table>

@code {

    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

}