@page "/dashboard"

<h3 class="mb-4 text-primary">
    <i class="bi bi-speedometer2"></i> Dashboard
</h3>

<div class="row g-4">

    <DashboardCard Titulo="Apartamentos"
                   Valor="@totalApartamentos"
                   Icono="bi bi-building" />

    <DashboardCard Titulo="Residentes"
                   Valor="@totalResidentes"
                   Icono="bi bi-people" />

    <DashboardCard Titulo="Visitantes"
                   Valor="@totalVisitantes"
                   Icono="bi bi-person-walking" />

    <DashboardCard Titulo="Parqueaderos"
                   Valor="@totalParqueaderos"
                   Icono="bi bi-car-front" />

</div>

@code {

    int totalApartamentos = 120;
    int totalResidentes = 350;
    int totalVisitantes = 15;
    int totalParqueaderos = 98;

}