@page "/zonasComunes"

<h3>Zonas Comunes</h3>

<button class="btn btn-primary mb-3">Nuevo</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Torre</th>
            <th>Número</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in apartamentos)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Torre</td>
                <td>@item.Numero</td>
                <td>@item.Estado</td>

                <td>
                    <button class="btn btn-warning btn-sm">Editar</button>
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    List<ApartamentoVM> apartamentos = new();

    protected override void OnInitialized()
    {
        apartamentos = new List<ApartamentoVM>()
        {
            new ApartamentoVM{ Id=1, Torre="A", Numero="101", Estado="Ocupado"},
            new ApartamentoVM{ Id=2, Torre="A", Numero="102", Estado="Disponible"}
        };
    }

    public class ApartamentoVM
    {
        public int Id { get; set; }
        public string Torre { get; set; }
        public string Numero { get; set; }
        public string Estado { get; set; }
    }

}