@page "/dashboard"

<h3>Dashboard</h3>

<p>Bienvenido al sistema!</p>

<button class="btn btn-primary">
    <NavLink href="/Usuario" class="text-white">
        gestiona usuarios y roles
    </NavLink>
</button>
<br>
<button class="btn btn-primary">
    <NavLink href="/auditoriaLogin" class="text-white">
        gestiona auditoria
    </NavLink>
</button>

<button class="btn btn-primary">
    <NavLink href="/zonasComunes" class="text-white">
        administra zonas comunes
    </NavLink>
</button>
