@page "/"

@inject NavigationManager nav

<h3>Iniciar Sesión</h3>

<div class="card p-4" style="width:350px">

    <input class="form-control mb-2"
           placeholder="Usuario"
           @bind="usuario" />

    <input class="form-control mb-2"
           type="password"
           placeholder="Contraseña"
           @bind="clave" />

    <label>Seleccionar Rol</label>

    <select class="form-control mb-3" @bind="rol">
        <option value="">Seleccione rol</option>
        <option value="admin">Administrador</option>
        <option value="vigilante">Vigilante</option>
        <option value="residente">Residente</option>
        <option value="contador">Contador</option>
    </select>

    <button class="btn btn-primary" @onclick="IniciarSesion">
        Ingresar
    </button>

</div>

@code {

    string usuario;
    string clave;
    string rol;
    string mensaje;

    void IniciarSesion()
    {

        if (rol == "admin")
        {
            nav.NavigateTo("/dashboard");
        }

        else if (rol == "vigilante")
        {
            nav.NavigateTo("/bitacoravigilancia");
        }

        else if (rol == "residente")
        {
            nav.NavigateTo("/reservas");
        }

        else if (rol == "contador")
        {
            nav.NavigateTo("/finanzas");
        }

        if (string.IsNullOrEmpty(rol))
        {
            mensaje = "Debe seleccionar un rol";
            return;

        }


    }

}