@page "/personas"

<h3>Registrar Persona</h3>

<EditForm>

    <FormInput Label="Nombre"
               Placeholder="Ingrese el nombre" />

    <FormInput Label="Apellido"
               Placeholder="Ingrese el apellido" />

    <FormInput Label="Documento"
               Placeholder="Ingrese el documento" />

    <button class="btn btn-primary">
        Guardar
    </button>

</EditForm>